html {
   -webkit-text-size-adjust : 100%;
   text-size-adjust         : 100%

}

html, body {
    overflow-x: hidden;
	margin: 10px 5px ;

}

h1 {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 48px;
	line-height: 56px;
	text-align: center;
	color: #3C3C3C;
	text-decoration: underline;
	margin-top: 5px;

}
body {
	background: #EDEDED;


}

.dish {
	font-family: Roboto Slab, serif;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	color: #4D4646;
}
 
.ingredients {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #4D4646;
	
}

.cooking {
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #4D4646;
	
}

.note {
	position: relative;
	width: auto;
	height: 180px;
	margin: 30px;
	text-align: center;
}

.note p {
	max-width: 800px;
	position: absolute;
	top: 20%;
	font-family: Poiret One;
	font-style: normal;
	font-size: 24px;
	text-align: center;
	color: #767676;
}

li {
	margin-bottom: 4px;
	list-style-position: outside;
	list-style-type: disc;
  	

}

input:checked + span {
    text-decoration: line-through;
   }

ul {
	padding-inline-start: 24px;
}



#logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
    height: 165px;
    width: 214px;
}



#goTop {
	position: fixed;
	left: 85%;
	top: 90%;
	opacity: 0.44; 
   }

#salateContent {
	display: none;
}

#salatButton {
	width: 49.2%;
	height: 45px;
	text-align:center; 
	font-family: Roboto, sans-serif;
	font-weight: 900;
	font-size: 23px;
	text-align: center;
	margin-top: 5px;
	float: right;

	border-color: #3C3C3C;
 

}

#mainButton {
	width: 49.2%;
	height: 45px;
	text-align:center; 
	font-family: Roboto, sans-serif;
	font-size: 23px;
	text-align: center;
	margin-top: 5px;
	font-weight: 900;
	float: left;

	border-color: #3C3C3C;
  }
hr {
	margin-top: 6em;
}


#music {
	
	position: absolute; 
	left: 5%;
	top: 5%;
}
